body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.viewscore-section,
.timer-section,
.header-title {
    flex: 1 1 33.33%;
    padding: 3vh 10vh;
    width: 35vh;
    height: 10vh;
}

.answer-validity {
    align-content: center;
}