:root {
    --background-color: #212121;
    --text-color-1: #0E750E;
    --text-color-2: #ffffff;
    --header-color: #807a7a0c;
    --header-color-2: #807a7a4d;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin: 4vh 6vh;
    padding: 0 20vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: var(--text-color-1);
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 2px dashed rgb(175, 175, 175);
    background-color: var(--header-color);   
}

.viewscore-section,
.timer-section,
.header-title {
    flex: 1 1 33.33%;
}

.timer-section,
.viewscore-section {
    padding: 3vh 10vh;
}

.header-title {
    padding-left: 7vh;
}

.timer-section p {
    padding: 1vh 0;
    text-align: center;
    color: var(--text-color-2); 
    background-color: var(--header-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 8vh;
}

.quiz-question {
    border: 2px dashed rgb(175, 175, 175);
    margin: 0 5vh 5vh;
    background-color: var(--header-color);
}

.quiz-question h2 {
    padding: 2vh 3vh;
    /* font-size: 14px; */
    color: var(--text-color-2);
}

.quiz-choice {
    width: 50vh;
    padding: 0 5vh;
}

.start-button {
    display: flex;
    flex-direction: column;
}

.answer-validity {
    position: absolute;
    align-content: center;
    bottom: -15vh;
}   

button {
    margin: 2vh;
    color: var(--text-color-2);
    background-color: var(--header-color-2);
}

button:hover {
    animation: breathingGlow;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

input {
    margin: 2vh;
    border: none;
    color: var(--text-color-1);
    background-color: #21212100
}

footer section {
    display: flex;
    flex-direction: row;
}

footer section h3 {
    margin-right: 10vh;
}

@media screen and (min-width:768px) {
    body {
        font-size: 18px;
    }

    header {
        flex-wrap: nowrap;
    }

    header h1 {
    font-size: 27px;
    }

    .quiz-question h2 {
        font-size: 20px;
    }

    .answer-validity {
        bottom: 23vh;
    }

    footer {
        margin-top: 10vh;
    }
}

@keyframes breathingGlow {
    from {box-shadow: none;}
    to {box-shadow: 
            inset 1px 1px 1px var(--text-color-1),
            1px 1px 1px var(--text-color-1);};
}